<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Care service | connexion</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
  <div class="min-h-screen flex items-center justify-center">
    <div class="card shadow-lg bg-white w-full max-w-md">
      
      {{#if error}}
      <div role="alert" class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{error}}</span>
      </div>

      {{/if}}
      <div class="card-body">
        <h2 class="card-title text-center text-2xl font-bold">Connexion</h2>
        <form method="post" action="/auth/login">
          <div class="form-control mt-4">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" name="username" placeholder="email@example.com" class="input input-bordered w-full">
          </div>

          <div class="form-control mt-4">
            <label class="label">
              <span class="label-text">Mot de passe</span>
            </label>
            <input type="password" placeholder="••••••••" name="password" class="input input-bordered w-full">
          </div>


          <div class="form-control mt-6">
            <button class="btn btn-primary w-full">Connexion</button>
          </div>
        </form>

       {{!--  <div class="text-center mt-4">
          <p class="text-sm">Vous n'avez pas de compte? <a href="/auth/register" class="text-blue-500">Créer en un</a>
          </p>
        </div> --}}
      </div>
    </div>
  </div>
</body>

</html>