<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICE CARE</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Datatables/datatables.min.css">
    <script
        src="/Datatables/datatables.min.js"></script>
    <link rel="stylesheet" href="/css/lineicons.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/fullcalendar.css" />
    <link rel="stylesheet" href="/css/fullcalendar.css" />
    <link rel="stylesheet" href="/css/main.css" />
    
    <script src="/js/Chart.min.js"></script>
</head>
<body>
     <!-- ======== Preloader =========== -->
    <div id="preloader">
      <div class="spinner"></div>
    </div>
    <!-- ======== Preloader =========== -->
    {{>_Sidebar}}
    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">
        {{>_Navbar}}
        {{{body}}}
    </main>
    {{!-- end --}}
    <!-- ========= All Javascript files linkup ======== -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    
    <script src="/js/dynamic-pie-chart.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/fullcalendar.js"></script>
    <script src="/js/jvectormap.min.js"></script>
    <script src="/js/world-merc.js"></script>
    <script src="/js/polyfill.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/custom.js"></script>
</body>
</html>